<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add An Adventure!</h1>    

    <form action="/submit/post" method="POST">
        <label>Choose your type of adventure:</label> <input name="type"/>
        <label>Name:</label> <input name="name"/>
        <label>Location:</label> <input name="location"/>
        <label>Description:</label> <input name="description"/>
        <label>Difficulty:</label> <input name="difficulty"/>
        <label>Cost:</label> <input name="cost"/>
        <label>Parking:</label> <input name="parking"/>
        <label>Got any tips?</label> <input name="tips"/>
        <label>Rating:</label> <input name="rating"/>
        <button>Send</button> 
    </form>
    
</body>
</html>

