<%- include("./partials/header") %>

    <h1>Add An Adventure!</h1>    

    <form action="/submit/post" method="POST">
        <label>Choose your type of adventure:</label> <input name="type"/>
        <label>Name:</label> <input name="name"/>
        <label>Location:</label> <input name="location"/>
        <label>Description:</label> <input name="description"/>
        <label>Difficulty:</label> <input name="difficulty"/>
        <label>Cost:</label> <input name="cost"/>
        <label>Parking:</label> <input name="parking"/>
        <label>Got any tips?</label> <input name="tips"/>
        <label>Website:</label> <input name="website"/>
        <label>Rating:</label> <input name="rating"/>
        <button>Send</button> 
    </form>



<%- include("./partials/footer") %>